<%= form_with(model: objetivo) do |form| %>
  <% if objetivo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(objetivo.errors.count, "error") %> prohibited this objetivo from being saved:</h2>

      <ul>
        <% objetivo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.textarea :descricao %>
  </div>

  <div>
    <%= form.label :ativo, style: "display: block" %>
    <%= form.checkbox :ativo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
