<div id="<%= dom_id objetivo %>">
  <div>
    <strong>User:</strong>
    <%= objetivo.user_id %>
  </div>

  <div>
    <strong>Nome:</strong>
    <%= objetivo.nome %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= objetivo.descricao %>
  </div>

  <div>
    <strong>Ativo:</strong>
    <%= objetivo.ativo %>
  </div>

</div>
