<%= form_with(model: registro) do |form| %>
  <% if registro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
        <% registro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :habito_id, style: "display: block" %>
    <%= form.text_field :habito_id %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :concluido, style: "display: block" %>
    <%= form.checkbox :concluido %>
  </div>

  <div>
    <%= form.label :observacao, style: "display: block" %>
    <%= form.textarea :observacao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
