<div id="<%= dom_id registro %>">
  <div>
    <strong>Hábito:</strong>
    <%= registro.habito_id %>
  </div>

  <div>
    <strong>Data:</strong>
    <%= registro.data %>
  </div>

  <div>
    <strong>Concluido:</strong>
    <%= registro.concluido %>
  </div>

  <div>
    <strong>Observacao:</strong>
    <%= registro.observacao %>
  </div>

</div>
